
/* style the header */
.all-h{
    display:flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh;
    text-align: center;
}
/* style the logo */
.logo{
    display: block;
    justify-content: center;
    width: 200px;
    height: 200px;
}
/* style play button */
.play-btn{
    font-size: 2rem;
    padding: 10px 0;
    width: 15rem;
    height: 5rem;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: black;
    border:none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
/* removing link line from play button */
.remove-line{
    text-decoration: none;
}

/* adding hover to play button */

.play-btn:hover{
    cursor:pointer;
    background-color: #46332a;
    transition: transform 200ms;
    transform: scale(1.1);
}

